header {
    background-color: #746879;
    color: azure;
    height: 50px;
    font-size: large;
    line-height: 50px;
    padding-left: 25px;

}

nav {
    background-color: rgb(155, 187, 103);
    color: bisque;
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

table.paper {
    width: 100%;

}



.titulo-tabla {
    border-bottom: #3d3e75 1px solid;
    text-align: left;
}

.numero {
    text-align: right;
}

.pie-de-pagina {
    margin-top: 40px;
    padding: 20px;
    border-top: solid 1px bisque;
}